<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>403 - Akses Ditolak</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      body {
        background-color: #f8d7da;
      }
    </style>
  </head>
  <body class="h-screen flex flex-col items-center justify-center">
    <h1 class="text-6xl font-bold text-red-600">403</h1>
    <p class="text-lg text-gray-800 mt-2">
      Akses ditolak! Anda tidak memiliki izin untuk mengakses halaman ini.
    </p>
    <a
      onclick="history.back()"
      class="mt-4 px-4 py-2 bg-blue-500 text-white rounded-lg cursor-pointer"
    >
      Kembali
    </a>
  </body>
</html>
